body {
    background-color: #000000;
    color: #AE8F6F;
    font-family: helvetica;
}

h1, h2, p {
    text-align: center;
}

img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #FD5A1E;
}

.container {
    display: flex;
    justify-content: space-around;
}